---
- name: "Check for binary"
  ansible.builtin.stat:
    path: "{{ terragrunt_install_dir }}/terragrunt"
  changed_when: false
  register: __installed_bin

- name: "Get current version"
  ansible.builtin.shell: |
    set -o pipefail
    {{ terragrunt_install_dir }}/terragrunt --version | grep -oP 'v\K[0-9.]+'
  args:
    executable: /bin/bash
  changed_when: false
  register: __installed_version
  when: __installed_bin.stat.exists

- name: "Get latest tag"
  ansible.builtin.uri:
    url: "{{ _terragrunt_release_api_url }}"
  failed_when: false
  register: __github_latest
  when:
    - terragrunt_version == 'latest'
    - terragrunt_install_origin == "internet"

- name: "Replace version fact to latest"
  ansible.builtin.set_fact:
    terragrunt_version: "{{ __github_latest.json.tag_name | replace('v', '') }}"
  when:
    - terragrunt_version == 'latest'
    - terragrunt_install_origin == "internet"

- name: "Install tasks"
  when: >
    (not __installed_bin.stat.exists) or
    (terragrunt_install_force) or
    (__installed_version is defined and terragrunt_version not in __installed_version.stdout)
  block:
    - name: "Install terragrunt"
      ansible.builtin.get_url:
        url: "https://github.com/gruntwork-io/terragrunt/releases/download/v{{ terragrunt_version }}/{{ terragrunt_pkg_name }}"
        dest: "{{ terragrunt_install_dir }}/{{ terragrunt_bin_name }}"
        mode: '0755'
        force: true
      when: terragrunt_install_origin == "internet"

    - name: "Copy local binary"
      ansible.builtin.copy:
        src: "{{ terragrunt_local_files }}"
        dest: "{{ terragrunt_install_dir }}/{{ terragrunt_bin_name }}"
        mode: "0755"
      when: terragrunt_install_origin == "local"
